@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
.headWrapper {
  background-image: url("../img/top_bgimg.png");
  max-height: 100%;
  width: 100%;
  background-size: cover;
  position: relative; }

.headWrapper-menu {
  width: 75%;
  height: 170px;
  max-height: 100%;
  margin: auto;
  overflow: hidden;
  margin-bottom: 2em; }
  .headWrapper-menu .headWrapper__logo {
    float: left;
    padding: 4em; }
  .headWrapper-menu .headWrapper img {
    max-width: 100%; }
  .headWrapper-menu .headWrapper-menu__navigation {
    width: 67%;
    float: right;
    padding-top: 4.3em;
    text-align: center; }
  .headWrapper-menu .headWrapper-menu__li {
    display: inline-block;
    padding: 1em; }
  .headWrapper-menu .headWrapper-menu__items {
    color: #fff;
    text-decoration: none;
    font-family: "Fjalla One", sans-serif;
    text-shadow: 2px 2px 3px #303030; }
  .headWrapper-menu .headWrapper-menu__items:hover {
    text-decoration: underline;
    text-decoration-color: #edbfff; }
  .headWrapper-menu .someLine {
    padding: 5em; }

.Wrapper-slideMenu {
  overflow: hidden;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(37, 29, 29, 0.3); }
  .Wrapper-slideMenu .slideMenu__content {
    margin: auto;
    max-width: 75%;
    max-height: 100%; }
  .Wrapper-slideMenu .slideMenu__content__slogan {
    float: left;
    padding: 3.2em; }
  .Wrapper-slideMenu .slideMenu__content__iphone {
    float: right; }

.slider-points {
  margin: auto;
  max-width: 20%;
  max-height: 100%; }
  .slider-points .slider-points__img {
    padding: 3em;
    margin: auto; }

.info-block-wrapper {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, #5d446b 3%, #42304b 73%);
  overflow: hidden; }

.info-block {
  max-width: 75%;
  margin: auto;
  box-sizing: content-box; }
  .info-block .info-block__article1, .info-block .info-block__article2, .info-block .info-block__article3 {
    width: 25%;
    float: left;
    line-height: 30px;
    font-family: sans-serif;
    padding: 2.5em;
    color: #fff; }
  .info-block .info-block__article__headText {
    font-weight: bold;
    font-size: 1em; }
  .info-block a {
    display: inline-block;
    height: 28px;
    width: 27px;
    background-image: url("../img/tools_img.png");
    margin-right: 0.5em; }
  .info-block .info-block__tool2 {
    background-position: -43px 0; }
  .info-block .info-block__tool3 {
    background-position: -78px 0; }
  .info-block .info-block__article__bottomText {
    float: right; }
  .info-block .info-block__article__bottomText a {
    background: none;
    text-decoration: none;
    height: 100%;
    width: 100%;
    font-family: "Fjalla One", sans-serif;
    color: #fff; }
  .info-block .info-block__article__bottomText a:hover {
    text-shadow: 2px 2px 3px #fff; }

.contentWrapper {
  max-width: 100%;
  overflow: hidden;
  margin: auto;
  background: #E8ECED; }
  .contentWrapper .contentWrapper-wrapperfor1 {
    float: left;
    padding: 3em 3em 3em 10em; }
  .contentWrapper .contentWrapper__article1 {
    background-image: url("../img/content_form1.png");
    width: 305px;
    height: 195px;
    max-width: 100%;
    max-height: 100%;
    padding: 2em 4em 4em 5em;
    font-family: sans-serif;
    line-height: 20px; }
  .contentWrapper .contentWrapper__article1__headText {
    font-family: "Fjalla One", sans-serif;
    font-size: 1.5em; }
  .contentWrapper .contentWrapper-wrapperfor2 {
    float: right;
    width: 30%;
    padding: 4em 8em 3em 3em; }
    .contentWrapper .contentWrapper-wrapperfor2 .contentWrapper-wrapperfor2__updateForms {
      line-height: 30px;
      font-family: sans-serif; }
    .contentWrapper .contentWrapper-wrapperfor2 .contentWrapper__article2__headText {
      font-family: "Fjalla One", sans-serif;
      font-size: 1.5em; }
    .contentWrapper .contentWrapper-wrapperfor2 .contentWrapper-wrapperfor2_portret {
      display: inline-block;
      margin-left: -4em;
      margin-bottom: -3.5em; }
    .contentWrapper .contentWrapper-wrapperfor2 .contentWrapper-wrapperfor2__bottomText {
      padding-top: 1em;
      text-align: right;
      background: none;
      height: 100%;
      width: 100%;
      font-family: "Fjalla One", sans-serif;
      color: black; }
    .contentWrapper .contentWrapper-wrapperfor2 .contentWrapper-wrapperfor2__bottomText a {
      text-decoration: none; }
    .contentWrapper .contentWrapper-wrapperfor2 .font-forms {
      font-weight: bold; }
  .contentWrapper .trustMarks {
    clear: both;
    max-width: 100%;
    max-height: 100%;
    box-sizing: content-box;
    border-top: 1px solid silver;
    text-align: center; }
  .contentWrapper .trustMarks img {
    max-width: 100%;
    padding: 2em; }

.footer {
  background-image: url("../img/bg_footer.png");
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  overflow: hidden;
  text-align: center; }
  .footer .footer__navigation {
    text-align: center; }
  .footer .footer__li {
    display: inline-block;
    padding: 1em; }
  .footer .footer__items {
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    font-family: "Fjalla One", sans-serif;
    text-shadow: 2px 2px 3px #303030; }
  .footer .footer__items:hover {
    text-decoration: underline;
    text-decoration-color: #edbfff; }

/*# sourceMappingURL=styles.css.map */
