BODY {
    background-image: url('../img/bgimg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}



/* HEADER */

.wrapper-header {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 3%;
}

.wrapper-header-logo , .wrapper-header-contacts {
  width: 50%;
  float: left;
}

.wrapper-header-contacts {
  color: white;
  text-align: right;
}

.wrapper-header-logo img {
  max-width: 100%;
}



/* CONTENT */

.Wrapper {
    margin-left: 12%;
    float: left;
    display: block;
}
.Wrapper:after {
  content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.ContentImages {
    width: 22%;
    margin-right: 10%;
    margin-bottom: 3%;
    display: inline-block;
    text-align: center;
    clear: both;
}

.Wrapper figcaption {
    color: #fff;
}


/*FOOTER*/

.Bottom {
  text-align: center;
  margin-top: 42%;
  margin-bottom: 3%;
  color: #fff;
}
