BODY {
    background-image: url('../img/bgimg.jpg');
    background-size: 100%;
}

@media (max-width: 900px) {
    .ContentImages {
      width: 35%;
    }
}

@media (max-width: 500px) {
  .ContentImages {
    width: 96%;
  }
}


/* HEADER */

.wrapper-header {
    overflow: hidden;
    box-sizing: content-box;
    padding: 3%;
    position: relative;
}

.wrapper-header-logo, .wrapper-header-contacts {
    width: 50%;
    float: left;
}

.wrapper-header-contacts {
    color: white;
    text-align: right;
}

.wrapper-header-logo img {
    max-width: 100%;
}


/* CONTENT */

.Wrapper {
    overflow: hidden;
    position: relative;
}

.ContentImages {
    padding: 3em;
    width: 25%;
    display: block;
    text-align: center;
    float: left;

}

.Wrapper figcaption {
    color: #fff;
}


/*FOOTER*/

.Bottom {
    display: block;
    clear: both;
    text-align: center;
    margin-top: 1.7em;
    margin-bottom: 3%;
    color: #fff;
}
